<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
	<title>Standard App</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="dist/bundle.css">
</head>

<body ng-controller="SharedController as shared">
	<div class="container-fluid">
		<section class="section section--1">
			<div class="top-panel"></div>
			<div class="container">	
				<h2 class="section__title">New in legion</h2>
			</div>
			<div class="section__content">
				<div class="section__bg">
					<div class="container">
						<p class="section__text">
							Curabitur in eros vel enim malesuada euismod ut id libero. Aenean at gravida nisl, a vehicula leo. Vestibulum vel turpis vel lorem pulvinar pellentesque vel quis diam. Praesent et ligula ac quam feugiat imperdiet et sit amet libero. Maecenas sollicitudin est vel orci tincidunt commodo. Nunc nisi tellus, hendrerit at sagittis in, aliquam eu nunc.
						</p>
						<div class="row">
							<div class="col-md-6">
								<h3 class="section__subtitle">
									<i class="symbol symbol--1"></i>
									<span>Shattered Islands</span>
								</h3>
								<p class="section__text">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam consequat finibus. Morbi tellus quam, pretium sed urna in, tristique porta lectus. Curabitur nec tincidunt eros, at efficitur orci. In hac habitasse platea dictumst. Cras faucibus ex eget libero ornare, ac posuere tortor dapibus. Ut vulputate id enim in feugiat. Etiam ultrices semper eros in pretium. Mauris imperdiet vel enim quis ullamcorper. In hac habitasse platea dictumst. 
								</p>
								<p class="section__text">
									Etiam id magna sapien. Quisque finibus elementum pulvinar. Vivamus purus neque, molestie gravida enim nec, cursus condimentum augue. Curabitur et libero eget ex pulvinar imperdiet ut a lorem. Praesent sed sapien imperdiet, consectetur nisl vel, mollis odio. Morbi tincidunt vitae nibh at sodales. Nunc vel quam ac neque tristique posuere vitae a nisl.
								</p>
								<h3 class="section__subtitle">
									<i class="symbol symbol--2"></i>
									<span>Better Rewards</span>
								</h3>
								<p class="section__text">
									Integer tempus imperdiet tortor eget accumsan. Nullam feugiat eros eget commodo viverra. Donec tellus justo, dignissim eu egestas ac, sagittis nec libero. Etiam luctus iaculis venenatis. Morbi pharetra ut lacus malesuada placerat. Nullam pulvinar congue nulla quis sollicitudin. Nulla hendrerit scelerisque dolor nec malesuada. Mauris eget vehicula metus. Morbi tempor elit nibh, sit amet quam in mattis ut risus a sollicitudin.
									<br>
									<br>
									<br>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</section>
		<section class="section section--2">
			<div class="top-panel"></div>
			<div class="container">
				<h2 class="section__title">Dungeons</h2>
			</div>
			<div class="section__content">
				<div class="container">
					<div class="thumbnails">
						<div ng-click="shared.selectItem($event)" item class="thumbnails__item">
							<img src="resources/img/section-2/pic-1.png" alt="alt">
						</div>
						<div ng-click="shared.selectItem($event)" item class="thumbnails__item">
							<img src="resources/img/section-2/pic-2.png" alt="alt">
						</div>
						<div ng-click="shared.selectItem($event)" item class="thumbnails__item">
							<img src="resources/img/section-2/pic-3.png" alt="alt">
						</div>
						<div ng-click="shared.selectItem($event)" item class="thumbnails__item">
							<img src="resources/img/section-2/pic-4.png" alt="alt">
						</div>
						<div ng-click="shared.selectItem($event)" item class="thumbnails__item">
							<img src="resources/img/section-2/pic-5.png" alt="alt">
						</div>
						<div ng-click="shared.selectItem($event)" item class="thumbnails__item">
							<img src="resources/img/section-2/pic-6.png" alt="alt">
						</div>
						<div ng-click="shared.selectItem($event)" item class="thumbnails__item">
							<img src="resources/img/section-2/pic-7.png" alt="alt">
						</div>
						<div ng-click="shared.selectItem($event)" item class="thumbnails__item">
							<img src="resources/img/section-2/pic-8.png" alt="alt">
						</div>
						<div ng-click="shared.selectItem($event)" item class="thumbnails__item">
							<img src="resources/img/section-2/pic-9.png" alt="alt">
							<i class="thumbnails__icon"></i>
						</div>
						<div ng-click="shared.selectItem($event)" item class="thumbnails__item">
							<img src="resources/img/section-2/pic-10.png" alt="alt">
							<i class="thumbnails__icon"></i>
						</div>
					</div>
					<div class="section__bg">
						<div class="row">
							<div class="col-sm-6 col-md-6">
								<img class="img-responsive section__boss" src="resources/img/section-2/boss.png" alt="alt">
							</div>
							<div class="col-sm-6 col-md-6">
								<h3 class="section__subtitle">
									<i class="symbol symbol--3"></i>
									<span>Black Rook Hold</span>
								</h3>
								<p class="section__text">
									Integer tempus imperdiet tortor eget accumsan. Nullam feugiat eros eget commodo viverra. Donec tellus justo, dignissim eu egestas ac, sagittis nec libero. Etiam luctus iaculis venenatis. Morbi pharetra ut lacus malesuada placerat. Nullam pulvinar congue nulla quis sollicitudin. Nulla hendrerit scelerisque dolor nec malesuada. Mauris eget vehicula metus. Morbi tempor elit nibh, sit amet quam in mattis ut risus a sollicitudin.
								</p>
								<h3 class="section__subtitle">
									<i class="symbol symbol--4"></i>
									<span>Encounters</span>
								</h3>
								<div class="labels">
									<div ng-click="shared.selectItem($event)" item class="labels__item" style="background-image: url(resources/img/section-2/label-1.png);"></div>
									<div ng-click="shared.selectItem($event)" item class="labels__item" style="background-image: url(resources/img/section-2/label-2.png);"></div>
									<div ng-click="shared.selectItem($event)" item class="labels__item" style="background-image: url(resources/img/section-2/label-3.png);"></div>
									<div ng-click="shared.selectItem($event)" item class="labels__item" style="background-image: url(resources/img/section-2/label-4.png);"></div>
								</div>
								<p class="section__text">
									<span class="selected-text">Illysanna Ravencrest</span> – The daughter of Lord Ravencrest, imprisoned for millennia in the Vault of the Wardens shortly after the War of Ancients, found herself free after Maiev released the demon hunters from their prison. Returning to her ancestral home, she has sacrificed everything - including her very soul - to defend what she could not during the War of the Ancients.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section ng-controller="Section3Controller as section3" class="section section--3">
			<div class="top-panel"></div>	
			<div class="section__content">
				<div class="section__bg section__bg--1">
					<div class="container">
						<h3 class="section__top-title">Legion Dangeons boost</h3>
						<h2 class="section__title">Step 1: Select Difficulty</h2>
					</div>
					<div class="container">
						<div class="wow-cards">
							<div item class="wow-cards__item">
								<div class="wow-cards__bg wow-cards__bg--1">
									<div class="wow-cards__title">Normal</div>
								</div>
								<ul class="wow-cards__list">
									<li class="wow-cards__list-item">Normal Difficulty</li>
									<li class="wow-cards__list-item">Requirements: 103-110 lvl</li>
									<li class="wow-cards__list-item">Rewards: 760-810 ilvl</li>
								</ul>
								<div class="l-btn">
									<button ng-click="section3.selectItem($event)" class="wow-btn">Select</button>
								</div>
								<div class="wow-cards__sign"><span>15</span> Events Available</div>
							</div>
							<div item class="wow-cards__item">
								<div class="wow-cards__bg wow-cards__bg--2">
									<div class="wow-cards__title">Heroic</div>
								</div>
								<ul class="wow-cards__list">
									<li class="wow-cards__list-item">Heroic Difficulty</li>
									<li class="wow-cards__list-item">Requirements: 110 lvl</li>
									<li class="wow-cards__list-item">Rewards: 825 ilvl</li>
								</ul>
								<div class="l-btn">
									<button ng-click="section3.selectItem($event)" class="wow-btn">Select</button>
								</div>
								<div class="wow-cards__sign"><span>36</span> Events Available</div>
							</div>
							<div item class="wow-cards__item">
								<div class="wow-cards__bg wow-cards__bg--3">
									<div class="wow-cards__title">Mythic</div>
								</div>
								<ul class="wow-cards__list">
									<li class="wow-cards__list-item">Mythic Difficulty</li>
									<li class="wow-cards__list-item">Requirements: 110 lvl</li>
									<li class="wow-cards__list-item">Rewards: 840 ilvl</li>
								</ul>
								<div class="l-btn">
									<button ng-click="section3.selectItem($event)" class="wow-btn">Select</button>
								</div>
								<div class="wow-cards__sign"><span>11</span> Events Available</div>
							</div>
						</div>
						<h2 class="section__title">Step 2: Select Option and event</h2>
						<div class="border-middle"></div>
					</div>
				</div>
				<div class="section__bg section__bg--2">
					<div class="container">
						<div class="board">
							<div class="row">
								<div class="col-lg-4 col-lg-4--ovveride">
									<div class="board__control-group">
										<div class="board__title">Wanted Dungeons:</div>
										<div class="l-checkbox">
											<input type="checkbox" class="wow-checkbox" id="checkbox-1"/>
											<label for="checkbox-1" class="wow-checkbox-label">Black Rook Hold</label>
										</div>
										<div class="l-checkbox">
											<input type="checkbox" class="wow-checkbox" id="checkbox-2"/>
											<label for="checkbox-2" class="wow-checkbox-label">Darkheart Thicket</label>
										</div>
										<div class="l-checkbox">
											<input type="checkbox" class="wow-checkbox" id="checkbox-3"/>
											<label for="checkbox-3" class="wow-checkbox-label">Eye of Azshara</label>
										</div>
										<div class="l-checkbox">
											<input type="checkbox" class="wow-checkbox" id="checkbox-4"/>
											<label for="checkbox-4" class="wow-checkbox-label">Halls of Valor</label>
										</div>
										<div class="l-checkbox">
											<input type="checkbox" class="wow-checkbox" id="checkbox-5"/>
											<label for="checkbox-5" class="wow-checkbox-label">Helmouth Cliffs</label>
										</div>
										<div class="l-checkbox">
											<input type="checkbox" class="wow-checkbox" id="checkbox-6"/>
											<label for="checkbox-6" class="wow-checkbox-label">Violet Hold</label>
										</div>
										<div class="l-checkbox">
											<input type="checkbox" class="wow-checkbox" id="checkbox-7"/>
											<label for="checkbox-7" class="wow-checkbox-label">Vault of the Wardens</label>
										</div>
										<div class="l-checkbox">
											<input type="checkbox" class="wow-checkbox" id="checkbox-8"/>
											<label for="checkbox-8" class="wow-checkbox-label">Neltharion's Lair</label>
										</div>
										<div class="l-checkbox">
											<input type="checkbox" class="wow-checkbox" id="checkbox-9"/>
											<label for="checkbox-9" class="wow-checkbox-label">Suramar City</label>
										</div>
										<div class="l-checkbox">
											<input type="checkbox" class="wow-checkbox" id="checkbox-10"/>
											<label for="checkbox-10" class="wow-checkbox-label">Court of Stars</label>
										</div>
									</div>								
									<div class="board__control-group">
										<div class="board__title">Choose your faction:</div>
										<div class="l-row">
											<div class="l-radio">
												<input type="radio" class="wow-radio" id="radio-1" name="radio-faction"/>
												<label for="radio-1" class="wow-radio-text">Alliance</label>
											</div>
											<div class="l-radio">
												<input type="radio" class="wow-radio" id="radio-2" name="radio-faction"/>
												<label for="radio-2" class="wow-radio-text">Horde</label>
											</div>
										</div>
									</div>
									<div class="board__control-group">
										<div class="board__title">Сhoose tou class and spec:</div>
										<div class="l-row">
											<div class="l-radio">
												<select class="wow-select">
													<option value="Paladin">Paladin</option>
													<option value="Option #2">Option #2</option>
													<option value="Option #3">Option #3</option>
													<option value="Option #4">Option #4</option>
												</select>
											</div>
											<div class="l-radio">
												<select class="wow-select">
													<option value="Protection">Protection</option>
													<option value="Option #2">Option #2</option>
													<option value="Option #3">Option #3</option>
													<option value="Option #4">Option #4</option>
												</select>
											</div>
										</div>
									</div>
									<div class="board__control-group">
										<div class="board__title">Loot Multiplier: 
											<span class="wow-tooltip">
												<span class="wow-tooltip__content">
													Lorem ipsum dolor sit amet.
												</span>
											</span>
										</div>
										<div class="l-row">
											<div class="l-radio">
												<input type="radio" class="wow-radio" id="radio-3" name="radio-multiplier"/>
												<label for="radio-3" class="wow-radio-text">x1</label>
											</div>
											<div class="l-radio">
												<input type="radio" class="wow-radio" id="radio-4" name="radio-multiplier"/>
												<label for="radio-4" class="wow-radio-text">x2</label>
											</div>
											<div class="l-radio">
												<input type="radio" class="wow-radio" id="radio-5" name="radio-multiplier"/>
												<label for="radio-5" class="wow-radio-text">x3</label>
											</div>
											<div class="l-radio">
												<input type="radio" class="wow-radio" id="radio-6" name="radio-multiplier"/>
												<label for="radio-6" class="wow-radio-text">x4</label>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-8 col-lg-8--ovveride">
									<div class="board__control-group">
										<div class="board__title">
											Shown <span>8</span> results of <span>26</span> available events:
										</div>
										<div class="event">
											<div class="event__item">
												<i class="event__element event__icon-clock"></i>
												<div class="event__element event__sign event__sign--green">Ready to Start!</div>
												<div class="event__element event__sign text-clip">Best group in EU. 100500 Succesfull orders. </div>
											</div>
											<div class="event__item">
												<div class="event__element event__indicator">
													<div class="event__indicator-item is-active"></div>
													<div class="event__indicator-item"></div>
													<div class="event__indicator-item"></div>
												</div>
												<div class="event__element event__sign">99.95€</div>
												<button class="event__btn">Buy</button>
											</div>
										</div>		
										<div class="event">
											<div class="event__item">
												<i class="event__element event__icon-clock"></i>
												<div class="event__element event__sign event__sign--green">Ready to Start!</div>
												<div class="event__element event__sign">We are better than guys above.</div>
											</div>
											<div class="event__item">
												<div class="event__element event__indicator">
													<div class="event__indicator-item is-active"></div>
													<div class="event__indicator-item is-active"></div>
													<div class="event__indicator-item"></div>
												</div>
												<div class="event__element event__sign">99.95€</div>
												<button class="event__btn">Buy</button>
											</div>
										</div>
										<div class="event">
											<div class="event__item">
												<i class="event__element event__icon-clock"></i>
												<div class="event__element event__sign event__sign--green">Ready to Start!</div>
												<div class="event__element event__sign">Top team. Will work for booze.</div>
											</div>
											<div class="event__item">
												<div class="event__element event__indicator">
													<div class="event__indicator-item is-active"></div>
													<div class="event__indicator-item is-active"></div>
													<div class="event__indicator-item is-active"></div>
												</div>
												<div class="event__element event__sign">99.95€</div>
												<button class="event__btn">Buy</button>
											</div>
										</div>
										<div class="event">
											<div class="event__item">
												<i class="event__element event__icon-clock"></i>
												<div class="event__element event__sign">Today, 8:00 PM</div>
												<div class="event__element event__sign">Mommy says we are special!</div>
											</div>
											<div class="event__item">
												<div class="event__element event__indicator">
													<div class="event__indicator-item is-active"></div>
													<div class="event__indicator-item is-active"></div>
													<div class="event__indicator-item is-active"></div>
												</div>
												<div class="event__element event__sign">99.95€</div>
												<button class="event__btn">Buy</button>
											</div>
										</div>
										<div class="event">
											<div class="event__item">
												<i class="event__element event__icon-clock"></i>
												<div class="event__element event__sign">Today, 11:00 PM</div>
												<div class="event__element event__sign">Experienced team. Fast and safe.</div>
											</div>
											<div class="event__item">
												<div class="event__element event__indicator">
													<div class="event__indicator-item is-active"></div>
													<div class="event__indicator-item"></div>
													<div class="event__indicator-item"></div>
												</div>
												<div class="event__element event__sign">99.95€</div>
												<button class="event__btn">Buy</button>
											</div>
										</div>
										<div class="event">
											<div class="event__item">
												<i class="event__element event__icon-clock"></i>
												<div class="event__element event__sign">Aug 21, 12:00 AM</div>
												<div class="event__element event__sign">One of the best raiding teams in EU.</div>
											</div>
											<div class="event__item">
												<div class="event__element event__indicator">
													<div class="event__indicator-item is-active"></div>
													<div class="event__indicator-item"></div>
													<div class="event__indicator-item"></div>
												</div>
												<div class="event__element event__sign">99.95€</div>
												<button class="event__btn">Buy</button>
											</div>
										</div>
										<div class="event">
											<div class="event__item">
												<i class="event__element event__icon-clock"></i>
												<div class="event__element event__sign">Aug 21, 3:00 PM</div>
												<div class="event__element event__sign">Killing bosses before it became mainstream.</div>
											</div>
											<div class="event__item">
												<div class="event__element event__indicator">
													<div class="event__indicator-item is-active"></div>
													<div class="event__indicator-item is-active"></div>
													<div class="event__indicator-item"></div>
												</div>
												<div class="event__element event__sign">99.95€</div>
												<button class="event__btn">Buy</button>
											</div>
										</div>
										<div class="event">
											<div class="event__item">
												<i class="event__element event__icon-clock"></i>
												<div class="event__element event__sign">Aug 22, 9:00 PM</div>
												<div class="event__element event__sign">Totally thebest way to be prepared!</div>
											</div>
											<div class="event__item">
												<div class="event__element event__indicator">
													<div class="event__indicator-item is-active"></div>
													<div class="event__indicator-item is-active"></div>
													<div class="event__indicator-item is-active"></div>
												</div>
												<div class="event__element event__sign">99.95€</div>
												<button class="event__btn">Buy</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</section>


	</div>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="dist/bundle.js"></script>
</body>

</html>