.section--1
	position relative
	z-index 10

	.section__bg
		@media all and (min-width: $tablet)
			background-position center
			background-image url(../resources/img/section-1/bg.png)

	.top-panel
		width 100%
		height auto
		min-height 174px
		margin-top -64px
		@extend .cover
		background-image url(../resources/img/section-1/top-panel.png)
