.section--4
	@media all and (min-width: 1200px)
		margin-top 90px

	.top-panel
		position absolute
		margin-top -70px
		width 100%
		height auto
		min-height 96px
		z-index 0
		@extend .cover
		background-image url(../resources/img/section-4/top-panel.png)

	.section__bg
		padding-top 40px
		background-position 50px -47px
		@media all and (min-width: $phone)
			background-image url(../resources/img/section-4/bg.png)