.section--5
	margin-top 40px
	@media all and (min-width: 1200px)
		padding-top 20px

	.top-panel
		position absolute
		margin-top -120px
		width 100%
		height auto
		min-height 96px
		z-index 0
		@extend .cover
		background-image url(../resources/img/section-5/top-panel.png)


	.board
		padding-top 0

	.divider
		margin 0 10px
		color #fff