.wow-btn
	border 0
	padding 17px 72px 12px 72px
	font-size 2rem
	text-transform uppercase
	color #fff
	text-shadow 0 0 6px #fff
	@extend .cover
	background-image url(../resources/img/components/button/button.png)
	border-radius 6px
	letter-spacing 1px
	&:focus
		outline none


.wow-btn.js-is-selected
	background-image url(../resources/img/components/button/button-l.png)