.wow-event
	width 100%
	height auto
	min-height 55px
	margin-bottom 16px
	background-color #000
	border-radius 7px
	background-repeat no-repeat
	background-position -2px -14px
	@extend .flex
	flex-flow column wrap
	justify-content space-between
	padding 10px 30px
	border 1px solid #b4ff00
	@media all and (min-width: 1200px)
		flex-flow row nowrap
		background-image url(../resources/img/components/event/frame.png)
		padding 0 30px
		border 0

	&__item
		@extend .flex
		flex-flow column wrap
		justify-content space-between
		@media all and (min-width: 1200px)
			flex-flow row wrap

	&__icon-clock
		display inline-block
		width 19px
		height 19px
		@extend .cover
		background-image url(../resources/img/components/event/clock.png)

	&__sign
		font-size 1.6rem
		&--green
			color #9aea00

	&__btn
		padding 5px 34px
		border 0
		text-transform uppercase
		text-shadow 0 0 6px #fff
		@extend .cover
		background-image url(../resources/img/components/event/button.png)
		margin-top -3px
		&:focus
			outline none
		&:active
			transform scale(0.9)

	&__indicator
		@extend .flex
		justify-content space-between

	&__indicator-item
		width 9px
		height 20px
		@extend .cover
		margin 0 1px
		background-image url(../resources/img/components/event/man.png)

	&__indicator-item.is-active
		background-image url(../resources/img/components/event/man-g.png)

	&__element
		margin-bottom 10px
		margin-right 10px
		@media all and (min-width: 1200px)
			margin-bottom 0

	.text-clip
		white-space nowrap
		text-overflow ellipsis
		overflow hidden
		max-width 340px

