.wow-select
	width 125px
	border-radius 5px
	border 1px solid $p-color
	border-top 1px solid #65c101
	border-bottom 1px solid $p-color
	background-color #000
	color #fff
	padding 9px 10px
	appearance none
	text-indent 0.01px
	text-overflow ''
	background-image url(../resources/img/components/select/marker.png)
	background-position calc(100% - 10px) 50%
	background-repeat no-repeat
	line-height 1
	cursor pointer
	margin 8px 0
	&:focus
		outline none
	@media all and (min-width: $phone)
		margin 0