@import 'nib'
@import '../resources/fonts/fonts.css'

$bg-color = #000
$p-color = #9aea00
$p-color-text = #e5e5e5

$phone = 640px
$tablet = 768px
$laptop = 1024px
$desktop = 1440px

$container-width = 1200px


//helpers
.no-padding
	padding 0!important
	margin 0!important
	
.cover
	background-position center
	background-repeat no-repeat
	background-size cover
	
.flex
	display flex
	flex-flow row wrap
	justify-content center
	align-items center
	
.transition
	transition all .2s ease-in-out

body
	font-family 'LatoLatinWeb', sans-serif
	background $bg-color
	color $p-color-text
	
a
	&:hover, &:active, &:focus
		outline none
		text-decoration none

::selection
	background-color $p-color
	color #fff
	
::-moz-selection
	background-color $p-color
	color #fff
		
.container-fluid
	padding 0
	margin 0
		
.container
	width 100%
	max-width $container-width
	margin 0 auto
	padding 0 40px


.section
	position relative
	
	&__title
		position relative
		z-index 10
		font-size 2.5rem
		text-transform uppercase
		text-align center
		margin 20px 0 48px 0
		color $p-color
		text-shadow 0 0 24px #b4ff00
		@supports(-webkit-background-clip: text)
			background linear-gradient(#ccff00, #00C853)
			-webkit-background-clip text
			color transparent
		@media all and (min-width: $phone)
			font-size 4.5rem

	&__subtitle
		font-size 2rem
		text-transform uppercase
		text-align left
		margin 10px 0 34px 0
		color $p-color
		text-shadow 0 0 24px #b4ff00
		@supports(-webkit-background-clip: text)
			background linear-gradient(#ccff00, #00C853)
			-webkit-background-clip text
			color transparent
		@media all and (min-width: $phone)
			font-size 3rem

		span
			margin-left -20px


	&__top-title
		font-size 2rem
		text-transform uppercase
		text-align center
		margin 10px 0 -15px 0
		color #fff
		text-shadow 0 0 24px #b4ff00
		@media all and (min-width: $phone)
			font-size 3rem

	&__bg
		width 100%
		height auto
		@extend .cover


	&__text
		font-family 'LatoLatinWebLight'
		font-size 1.5rem
		font-weight 300
		margin  0 0 30px 0
		@media all and (min-width: $phone)
			font-size 1.8rem


	.symbol
		position relative
		top 15px
		left -15px
		display inline-block
		@extend .cover
		width 53px
		height 53px

		&--1
			background-image url(../resources/icons/symbol-1.png)

		&--2
			background-image url(../resources/icons/symbol-2.png)

		&--3
			background-image url(../resources/icons/symbol-3.png)

		&--4
			background-image url(../resources/icons/symbol-4.png)

	.selected-text
		font-family 'LatoLatinWebSemibold'
		color $p-color


	.board
		padding 32px 0
		font-family 'LatoLatinWebLight'

		&__title
			color $p-color-text
			font-size 1.8rem
			margin-bottom 20px

			span 
				color #9aea00 

		&__title.is-disabled
			color #595959
			user-select none

		&__control-group
			margin-bottom 28px

	.l-checkbox
		margin-bottom 8px

	.l-radio
		@extend .flex
		justify-content flex-start
		margin-right 20px

	.l-row
		@extend .flex
		justify-content flex-start

	.control-is-disabled

		.wow-select
			border 1px solid #595959
			color #595959
			background-image url(../resources/img/components/select/marker-g.png)
			cursor default

		.wow-input
			border 1px solid #595959
			color #595959

		.divider
			color #595959

		.wow-radio
			&:not(checked) + label:before
				border 1px solid #595959
				box-shadow none
				cursor default

			&:checked + label:before
				background-image url(../resources/img/components/radio/marker-g.png)

		.wow-radio-text
			color #595959
			cursor default

		.wow-checkbox
			&:not(checked) + label:before
				border 1px solid #595959
				box-shadow none
				cursor default

		.wow-checkbox-label
			color #595959
			cursor default


