.section--6
	position relative
	padding-top 70px

	.top-panel
		position absolute
		width 100%
		height auto
		min-height 31px
		z-index 0
		@extend .cover
		background-image url(../resources/img/section-6/top-panel.png)

	.section__bg
		background-position center
		background-image url(../resources/img/section-6/bg.png)

	.section__content
		width 100%
		max-width 540px
		margin 100px auto