.wow-tooltip
	display inline-block
	position relative
	width 13px
	height 13px
	border-radius 50%
	@extend .cover
	background-image url(../resources/img/components/tooltip/marker.png)
	cursor pointer
	&:hover
		.wow-tooltip__content
			visibility visible
			opacity 1

	&__content
		position absolute
		z-index 10
		top 15px
		left -100px
		width 200px
		height auto
		visibility hidden
		opacity 0
		background-color #000
		border 1px solid #b4ff00
		border-radius 10px
		padding 16px
		font-size 1.4rem
		color #fff!important
		@extend .transition
		@media all and (min-width: $phone)
			left 15px
			border-radius 0 10px 10px 10px
		
