.wow-input	
	background-color #000
	border 1px solid #a2ff00
	border-top 1px solid #65c101
	border-bottom 1px solid #a2ff00
	width 80px
	border-radius 3px
	font-size 1.6rem
	padding 6px 8px
	&:focus
		outline none